#
# Copyright (C) 2023 The LineageOS Project
#
# SPDX-License-Identifier: Apache-2.0
#

on boot && property:ro.boot.hwc=CN
    setprop bluetooth.device.default_name "Redmi Note 12 Pro Speed"

on boot && property:ro.boot.hwc=GL
    setprop bluetooth.device.default_name "Poco X5 Pro 5G"

on boot && property:ro.boot.hwc=IN
    setprop bluetooth.device.default_name "Poco X5 Pro 5G"
